.stats-body{
    font-family: 'Montserrat',sans-serif;
    background-color: #f7f7f7;
    height: 100vh;
    margin-left: 200px;
    margin-right: 200px;
    padding-right: 40px;
    padding-left: 40px;
}


.btn-ul{
    display: flex;
    justify-content: space-evenly;
    

    
   li{
      
       list-style: none;

       button{
        padding-top: 15px;
        padding-bottom: 37px;
        padding-left: 30px;
        padding-right: 30px;
       }
   }
}

.success-icon{
    margin: auto auto;
    margin-left: 47%;
    color: green;
    font-size: 80px;
}


.remark{
    font-weight: 600;
    text-align: center;
    font-size: 30px;
}

.score-percent{
    font-weight: 400;
}

.stat{
    font-weight: 400;
}